::ng-deep .top-company-card {
    border-width: 1.5px !important;
    border-color: #e5e7eb !important;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
    border-radius: 10px !important;
}
::ng-deep .top-company-card:hover {
    border-color: #0c56f4 !important;
    box-shadow: 0 4px 24px 0 #2563eb22 !important;
}
