.admin-layout {
    display: flex;
    min-height: 100vh;
    background: #f8f9fa;

    // Phần bên phải chứa header và content
    .right-content {
        flex: 1;
        margin-left: 280px;
        display: flex;
        flex-direction: column;
        transition: margin-left 0.3s cubic-bezier(0.4, 1.3, 0.7, 1);

        &.collapsed {
            margin-left: 145px;
        }
    }

    // Main content
    .admin-content {
        flex: 1;
        padding: 32px;
        overflow-y: auto;
    }
}
