.admin-layout {
    display: flex;
    min-height: 100vh;
    background: #f8f9fa;

    .admin-content {
        flex: 1;
        margin-left: 280px;
        padding: 32px;
        overflow-y: auto;
        transition: margin-left 0.3s cubic-bezier(0.4, 1.3, 0.7, 1);

        &.collapsed {
            margin-left: 145px;
        }
    }
}
